html
	block vars
		- var title = "Bem-vindo"
	head
		title #{title}
		link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

		script(src='https://code.jquery.com/jquery-3.2.1.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js')
		script(src='../index.js')

	body.grey.lighten-4
		.navbar-fixed
			nav
				.nav-wrapper
					ul
						li
							a(href='index.pug')
								i.material-icons menu
						li
							a.nav-title #{title}
					ul.right
						li
							a(href='#!') Empresa para Demonstração - 29628291000149
						li
							a(href='#!')
								i.material-icons notifications
						li
							a(href='#!')
								i.material-icons apps
						li
							a(href='#!')
								i.material-icons help
						li
							a(href='#!')
								i.material-icons account_circle

		.content
			block content