html
	block vars
		- var title = "myrp"
	head
		title #{title}
		link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

		script(src='https://code.jquery.com/jquery-3.2.1.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js')
		script(src='../index.js')

	body.grey.lighten-4.cadastro
		block content