@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

// Color
@import "base/color-variables";

// Variables
@import "base/variables";

// Materialize
@import "base/materialize";

// Components
@import "components/dropdown";
@import "components/global";
@import "components/grid";
@import "components/navbar";
@import "components/cards";
@import "components/tables";
@import "components/fab";
@import "components/filter";
@import "components/menu";
@import "components/utilities";
@import "components/cadastro";

.sidenav form {
  padding: 0 20px;
}

.list {
  border-radius: 4px;
  background-color: color("blue", "lighten-5");
  
  .waves-effect {
    width: 100%;
    border-radius: 2px;
  }

  .subheader {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin: 0.75rem 16px;
  }

  li {
    padding: 0 16px;
  }

  li .valign-wrapper {
    min-height: 72px;
  }

  i,
  span.circle {
    line-height: 44px;
    width: 44px;
    text-align: center;
    margin-right: 15px;
    background-color: #2196f3;
    font-weight: 500;
    //font-size: 1.2rem;
  }

  .title span {
    color: rgba(0, 0, 0, 0.54);
  }

  .ml-auto {
    margin-left: auto;
  }
}
