extends base/layout.pug

block vars
	- var title = 'Criar conta'

block content
	.container
		.card.horizontal
			.card-stacked
				.card-content.center
					img.logo(src='../img/logo.png', alt='myrp')
					h5 Crie sua conta
					p
						span.grey-text.hide Experimente por 7 dias. 
						a.hide(href='index.pug') Já tem uma conta?
						label Passo 1 de 3

					p Quais os segmentos da sua empresa?
					.segmentos
						.row
							.col.s12
								.nome.valign-wrapper
									| Varejo
									label.ml-auto
										input.filled-in(type='checkbox')
										span
							.col.s12
								.nome.valign-wrapper
									| Atacado
									label.ml-auto
										input.filled-in(type='checkbox')
										span
							.col.s12
								.nome.valign-wrapper
									| Indústria
									label.ml-auto
										input.filled-in(type='checkbox')
										span
							.col.s12
								.nome.valign-wrapper
									| Serviços
									label.ml-auto
										input.filled-in(type='checkbox')
										span
							.col.s12
								.nome.valign-wrapper
									| Transporte
									label.ml-auto
										input.filled-in(type='checkbox')
										span

					.fab-extended
						a.btn-floating.btn-large.waves-effect.waves-light.blue(href='cadastro_identificacao.pug')
							i.material-icons.left arrow_forward
							|  Próximo
			.card-image
				a.modal-trigger(href='#video')
					img(src='https://via.placeholder.com/320x600')
		.row
			.col.s12.center
				a.white-text(href="index.pug", style="display:block;margin:3rem 0 0;text-decoration:underline;")
					| Já tem uma conta?

		#video.modal.modal-fixed-footer.black
			.modal-content.center-align
				iframe#player(type='text/html', width='100%', height='100%', src='https://www.youtube.com/embed/yoA9xuANT80?enablejsapi=1&autoplay=1', frameborder='0')
			.modal-footer.black
				a.btn-flat.modal-close.white-text.ok Fechar
