extends base/layout_completo.pug
include base/mixins.pug

block vars
	- var title = 'CT-e'

block content

	.container
		+fab()
		+topoLista('19–25 de Abril, 2018')

		.heading(style='margin-top:15px')
			span Hoje
		+cardGrid()
			+linhaAberto()
			+linhaCritica('SHB Ind. e Com. Alimentos S.A.')
			+linhaAutorizado('JBS S.A.', '3', '551')

		+cardGridHeading('23 de abril')
		+cardGrid()
			+linhaAutorizado('Dalquim Ind. e Com. Ltda', '4', '301')
			+linhaAutorizado('JBS S.A.', '3', '550')
			+linhaAutorizado('JBS S.A.', '3', '549')
			+linhaAutorizado('JBS S.A.', '3', '548')
			+linhaAutorizado('JBS S.A.', '3', '547')
			+linhaAutorizado('JBS S.A.', '3', '546')

		+cardGridHeading('19 de abril')
		+cardGrid()
			+linhaAutorizado('Dalquim Ind. e Com. Ltda', '4', '300')

mixin linhaAberto
	tr
		+colunaCheckbox()
		+colunaAberto()
		td.grey-text Tomador não informado
		td.col-numero
		+colunaAcoes()

mixin linhaCritica(tomador)
	tr
		+colunaCheckbox()
		+colunaCritica()
		td= tomador
		td.col-numero
		+colunaAcoes()

mixin linhaAutorizado(tomador, serie, numero)
	tr
		+colunaCheckbox()
		+colunaAutorizado()
		td= tomador
		td.col-numero
			span= serie
			|  - 
			span= numero
		+colunaDownload()