extends base/layout_completo.pug
include base/mixins.pug

block vars
	- var title = 'CT-e'

block content

	.container
		+fab()
		+topoLista()

		.heading(style='margin-top:15px')
			span Hoje
		+cardGrid()
			+linhaAberto()
			+linhaCritica('SHB Ind. e Com. Alimentos S.A.')
			+linhaAutorizado('JBS S.A.', '3', '551')

		+cardGridHeading('23 de abril')
		+cardGrid()
			+linhaAutorizado('Dalquim Ind. e Com. Ltda', '4', '301')
			+linhaAutorizado('JBS S.A.', '3', '550')
			+linhaAutorizado('JBS S.A.', '3', '549')
			+linhaAutorizado('JBS S.A.', '3', '548')
			+linhaAutorizado('JBS S.A.', '3', '547')
			+linhaAutorizado('JBS S.A.', '3', '546')

		+cardGridHeading('19 de abril')
		+cardGrid()
			+linhaAutorizado('Dalquim Ind. e Com. Ltda', '4', '300')

mixin linhaAberto
	tr
		td(width='60')
			label
				input.filled-in(type='checkbox')
				span
		td(width='40')
			.status.edicao.circle
				i.material-icons edit
		td
			i.grey-text.text-lighten-1 Tomador não informado
		td(width='100').center
		td(width='120').right-align

mixin linhaCritica(tomador)
	tr
		td(width='60')
			label
				input.filled-in(type='checkbox')
				span
		td(width='40')
			.status.atencao.circle
				i.material-icons priority_high
		td= tomador
		td(width='100').center
		td(width='120').right-align

mixin linhaAutorizado(tomador, serie, numero)
	tr
		td(width='60')
			label
				input.filled-in(type='checkbox')
				span
		td(width='40')
			.status.sucesso.circle
				i.material-icons done
		td= tomador
		td(width='100').right-align
			span= serie
			|  - 
			span= numero
		td(width='120').right-align
			a PDF
			a XML