extends base/layout_completo.pug

block vars
	- var title = 'CT-e'

block content

	.container
		.filter
			span#select-all.legend Selecionar todos
			i.material-icons.circle keyboard_arrow_left
			a.btn-flat.dropdown-trigger(href='#', data-target='filtros') Abril de 2018
			i.material-icons.circle keyboard_arrow_right

		div(style='margin-top:15px').subtitle
			span Hoje
		.card.card-grid
			.card-content
				table.highlight
					tbody
						+linhaAberto()
						+linhaCritica('SHB Ind. e Com. Alimentos S.A.')
						+linhaAutorizado('JBS S.A.', '3', '551')

		.subtitle
			span 23 de abril
		.card.card-grid
			.card-content
				table.highlight
					tbody
						+linhaAutorizado('Dalquim Ind. e Com. Ltda', '4', '301')
						+linhaAutorizado('JBS S.A.', '3', '550')
						+linhaAutorizado('JBS S.A.', '3', '549')
						+linhaAutorizado('JBS S.A.', '3', '548')
						+linhaAutorizado('JBS S.A.', '3', '547')
						+linhaAutorizado('JBS S.A.', '3', '546')

		.subtitle
			span 19 de abril
		.card.card-grid
			.card-content
				table.highlight
					tbody
						+linhaAutorizado('Dalquim Ind. e Com. Ltda', '4', '300')

	ul#filtros.dropdown-content
		li
			a(href='#!') Este mês
		li
			a(href='#!') Mês passado
		li
			a(href='#!') Últimos 3 meses
		li
			a(href='#!') Escolher período

	ul#dropdown1.dropdown-content
		li
			a(href='#!') Emitir
		li
			a(href='#!') Visualizar

	ul#dropdown2.dropdown-content
		li
			a(href='#!') Cancelar
		li
			a(href='#!') Redistribuir
		li
			a(href='#!') Carta de correção


	.fixed-action-btn
		a.btn-floating.btn-large.waves-effect.waves-light
			i.material-icons add
		ul
			li
				a.btn-floating.orange
					i.material-icons search
			li
				a.btn-floating.orange
					i.material-icons refresh

mixin linhaAberto
	tr
		td(width='60')
			label
				input.filled-in(type='checkbox')
				span
		td(width='40')
			.status.edicao.circle
				i.material-icons edit
		td
			i.grey-text.text-lighten-1 Tomador não informado
		td(width='100').center
		td(width='120').right-align

mixin linhaCritica(tomador)
	tr
		td(width='60')
			label
				input.filled-in(type='checkbox')
				span
		td(width='40')
			.status.atencao.circle
				i.material-icons priority_high
		td= tomador
		td(width='100').center
		td(width='120').right-align

mixin linhaAutorizado(tomador, serie, numero)
	tr
		td(width='60')
			label
				input.filled-in(type='checkbox')
				span
		td(width='40')
			.status.sucesso.circle
				i.material-icons done
		td= tomador
		td(width='100').right-align
			span= serie
			|  - 
			span= numero
		td(width='120').right-align
			a PDF
			a XML