extends base/layout_completo.pug

block vars
	- var title = 'CT-e'

block content

	.container(style="max-width: 960px;")
		.filter
			span#select-all.legend Selecionar todos
			i.material-icons.circle keyboard_arrow_left
			a.btn-flat.dropdown-trigger(href='#', data-target='filtros') Abril de 2018
			i.material-icons.circle keyboard_arrow_right

		div(style='margin-top:15px').subtitle
			span Hoje
			span.serie-numero Série - Nº
		.card.card-grid
			.card-content
				table.highlight
					tbody
						tr
							td(width='60')
								label
									input.filled-in(type='checkbox')
									span
							td(width='40')
								.status.atencao.circle
									i.material-icons priority_high
							td
								i.grey-text.text-lighten-1 Tomador não informado
							td(width='100').center
								| 
							td(width='100').right-align
								a
									i.material-icons.grey-text.text-darken-2 edit
								a.hide
									i.material-icons.grey-text.text-darken-2 find_in_page
						tr
							td(width='60')
								label
									input.filled-in(type='checkbox')
									span
							td(width='40')
								.status.atencao.circle
									i.material-icons priority_high
							td
								| SHB Ind. e Com. Alimentos S.A.
							td(width='100').center
								| 
							td(width='100').right-align
								a
									i.material-icons.grey-text.text-darken-2 edit
						tr
							td
								label
									input.filled-in(type='checkbox')
									span
							td
								.status.sucesso.circle
									i.material-icons done
							td
								| JBS S.A.
							td.center
								| 3 - 551
							td.right-align
								a
									i.file PDF
								a
									i.file XML

		.subtitle
			span 23 de abril
		.card.card-grid
			.card-content
				table.highlight
					tbody
						tr
							td(width='60')
								label
									input.filled-in(type='checkbox')
									span
							td(width='40')
								.status.sucesso.circle
									i.material-icons done
							td
								| Dalquim Ind. e Com. Ltda
							td(width='100').center
								| 4 - 301
							td(width='100').right-align
								a
									i.file PDF
								a
									i.file XML
						tr
							td
								label
									input.filled-in(type='checkbox')
									span
							td
								.status.sucesso.circle
									i.material-icons done
							td
								| JBS S.A.
							td.center
								| 3 - 550
							td.right-align
								a
									i.file PDF
								a
									i.file XML

		.subtitle
			span 19 de abril
		.card.card-grid
			.card-content
				table.highlight
					tbody
						tr
							td(width='60')
								label
									input.filled-in(type='checkbox')
									span
							td(width='40')
								.status.sucesso.circle
									i.material-icons done
							td
								| Dalquim Ind. e Com. Ltda
							td(width='100').center
								| 4 - 300
							td(width='100').right-align
								a
									i.file PDF
								a
									i.file XML

	ul#filtros.dropdown-content
		li
			a(href='#!') Este mês
		li
			a(href='#!') Mês passado
		li
			a(href='#!') Últimos 3 meses
		li
			a(href='#!') Escolher período

	ul#dropdown1.dropdown-content
		li
			a(href='#!') Emitir
		li
			a(href='#!') Visualizar

	ul#dropdown2.dropdown-content
		li
			a(href='#!') Cancelar
		li
			a(href='#!') Redistribuir
		li
			a(href='#!') Carta de correção


	.fixed-action-btn
		a.btn-floating.btn-large.waves-effect.waves-light
			i.material-icons add
		ul
			li
				a.btn-floating.orange
					i.material-icons search
			li
				a.btn-floating.orange
					i.material-icons refresh

