extends base/layout.pug

block vars
	- var title = 'CT-e'

block content
	.container
		.filter
			i.material-icons.grey-text.circle keyboard_arrow_left
			a.btn-flat.grey-text.text-darken-2 Abril de 2018
			i.material-icons.grey-text.circle keyboard_arrow_right

		span(style='margin-top:0;').group-title 23 de abril
		.card.card-grid
			.card-content
				table.highlight
					tbody
						tr
							td(width='60')
								label
									input.filled-in(type='checkbox')
									span
							td(width='40')
								.status.atencao.circle
									i.material-icons priority_high
							td
								i.grey-text.text-lighten-1 Tomador não preenchido
							td(width='100')
								|
							td(width='120').center
								| Normal
							td(width='100').center
								| 
							td(width='100').right-align
								a
									i.material-icons.grey-text.text-darken-2 edit
								a.hide
									i.material-icons.grey-text.text-darken-2 find_in_page
								a
									i.material-icons.grey-text.text-darken-2 more_vert
						tr
							td(width='60')
								label
									input.filled-in(type='checkbox')
									span
							td(width='40')
								.status.atencao.circle
									i.material-icons priority_high
							td
								| SHB Ind. e Com. Alimentos S.A.
							td(width='100')
								.chip
									| SC
									i.material-icons arrow_forward
									| SP
							td(width='120').center
								| Normal
							td(width='100').center
								| 
							td(width='100').right-align
								a
									i.material-icons.grey-text.text-darken-2 edit
								a.hide
									i.material-icons.grey-text.text-darken-2 find_in_page
								a
									i.material-icons.grey-text.text-darken-2 more_vert
						tr
							td
								label
									input.filled-in(type='checkbox')
									span
							td
								.status.sucesso.circle
									i.material-icons done
							td
								| JBS S.A.
							td
								.chip
									| SC
									i.material-icons arrow_forward
									| SP
							td.center
								| Normal
							td.center
								| 3 / 551
							td.right-align
								a
									i.file PDF
								a
									i.file XML
								a.hide
									i.material-icons.grey-text.text-darken-2 find_in_page
								a
									i.material-icons.grey-text.text-darken-2 more_vert

		span.group-title 20 de abril
		.card.card-grid
			.card-content
				table.highlight
					tbody
						tr
							td(width='60')
								label
									input.filled-in(type='checkbox')
									span
							td(width='40')
								.status.atencao.circle
									i.material-icons priority_high
							td
								| Dalquim Ind. e Com. Ltda
							td(width='100')
								.chip
									| SC
									i.material-icons arrow_forward
									| RS
							td(width='120').center
								| Subcontratação
							td(width='100').center
								| 
							td(width='100').right-align
								a
									i.material-icons.grey-text.text-darken-2 edit
								a.hide
									i.material-icons.grey-text.text-darken-2 find_in_page
								a
									i.material-icons.grey-text.text-darken-2 more_vert

						tr
							td
								label
									input.filled-in(type='checkbox')
									span
							td
								.status.sucesso.circle
									i.material-icons done
							td
								| JBS S.A.
							td
								.chip
									| SC
									i.material-icons arrow_forward
									| SP
							td.center
								| Normal
							td.center
								| 3 / 550
							td.right-align
								a
									i.file PDF
								a
									i.file XML
								a.hide
									i.material-icons.grey-text.text-darken-2 find_in_page
								a
									i.material-icons.grey-text.text-darken-2 more_vert

		span.group-title 19 de abril
		.card.card-grid
			.card-content
				table.highlight
					tbody
						tr
							td(width='60')
								label
									input.filled-in(type='checkbox')
									span
							td(width='40')
								.status.sucesso.circle
									i.material-icons done
							td
								| Dalquim Ind. e Com. Ltda
							td(width='100')
								.chip
									| SC
									i.material-icons arrow_forward
									| RS
							td(width='120').center
								| Subcontratação
							td(width='100').center
								| 4 / 300
							td(width='100').right-align
								a
									i.file PDF
								a
									i.file XML
								a.hide
									i.material-icons.grey-text.text-darken-2 find_in_page
								a
									i.material-icons.grey-text.text-darken-2 more_vert
							

	.fixed-action-btn
		a.btn-floating.btn-large.waves-effect.waves-light
			i.material-icons add
		ul
			li
				a.btn-floating.orange
					i.material-icons search
			li
				a.btn-floating.orange
					i.material-icons refresh

