extends base/layout.pug

block content
	.container
		.row
			.col.s4
				.card-panel
					h5.card-title Financeiro

					ul.menu
						li
							a(href='!#')
								i.material-icons.left.tiny arrow_forward
								| Resumo Financeiro
						li
							a(href='contasAPagarGrid.pug')
								i.material-icons.left.tiny arrow_forward
								| Contas a pagar
						li
							a(href='!#')
								i.material-icons.left.tiny arrow_forward
								| Contas a receber
						li
							a(href='!#')
								i.material-icons.left.tiny arrow_forward
								| Transferência entre Contas
						li
							a(href='!#')
								i.material-icons.left.tiny arrow_forward
								| Fluxo de Caixa
						li
							a(href='!#')
								i.material-icons.left.tiny arrow_forward
								| Boleto com Registro
						li
							a(href='!#')
								i.material-icons.left.tiny arrow_forward
								| Remessas Geradas


			.col.s4
				.card-panel
					h5.card-title Cadastros

					ul.menu
						li
							a(href='!#')
								i.material-icons.left.tiny arrow_forward
								| Clientes
						li
							a(href='!#')
								i.material-icons.left.tiny arrow_forward
								| Fornecedores
						li
							a(href='!#')
								i.material-icons.left.tiny arrow_forward
								| Transportadores
						li
							a(href='!#')
								i.material-icons.left.tiny arrow_forward
								| Contas
						li
							a(href='!#')
								i.material-icons.left.tiny arrow_forward
								| Formas de Pagamento
						li
							a(href='!#')
								i.material-icons.left.tiny arrow_forward
								| Categorias Financeiras
						li
							a(href='!#')
								i.material-icons.left.tiny arrow_forward
								| Vendedores