extends base/layout.pug

block vars
	- var title = 'Entrar no myrp'

block content
	.container(style="margin: 15% auto;width: 500px;")
		#login.card-panel(style="position:relative;")
			.center
				img.logo(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/40532/logo-myrp-transp.png', alt='myrp' style="margin-bottom: 1rem;")
			form#formEntrar
				.row
					.col.s12.input-field
						input#usuario.required(type='text', autofocus='', name='usuario')
						label(for='usuario') Informe seu e-mail
				.row
					.col.s12.input-field
						input#senha.required(type='password', name='senha')
						label(for='senha') E senha
						a.info(href='/ControleAcesso/Sessao/EnviarEmail') Esqueceu a senha?
				
				.fab-extended
					a.btn-floating.btn-large.waves-effect.waves-light.blue(href='dashboard.pug')
						i.material-icons.left arrow_forward
						|  Entrar

		.row
			.col.s12.center
				a.white-text(href="segmentacao.pug", style="display:block; margin: 3rem 0;text-decoration: underline;")
					| Ainda não tem uma conta?


