extends base/layout.pug

block content
	.container
		.row
			.col.s4
				.card-panel
					h5.card-title Transporte

					ul.menu
						li
							a(href='cteGrid.pug')
								i.material-icons.left.tiny arrow_forward
								| CT-e
						li
							a(href='!#')
								i.material-icons.left.tiny arrow_forward
								| MDF-e
						li
							a(href='!#')
								i.material-icons.left.tiny arrow_forward
								| Veículos
						li
							a(href='!#')
								i.material-icons.left.tiny arrow_forward
								| Motoristas