extends base/layout_completo.pug
include base/mixins.pug

block vars
	- var title = 'Notas fiscais'

block content

	.container
		+fab()
		+topoLista()

		.card-panel(style="margin-top: 30px;")
			.section
				h5.center.grey-text
					small Não há documentos nesse período.
			.section.center
				a.btn Criar nota fiscal


	