.filter {
  margin: 10px auto;
  text-align: center;
  position: relative;
  color: color("grey", "base");
  i {
    margin: 0 0.5rem;
    vertical-align: middle;
    font-size: 2rem;
    &:hover {
      background-color: color("grey", "lighten-2");
      cursor: pointer;
    }
  }
  .btn-flat {
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: initial;
    color: color("grey", "darken-1");
    &:hover,
    &:focus {
      background-color: color("grey", "lighten-2");
    }
  }
  .actions-right {
    position: absolute;
    right: 0;
    i {
      font-size: 24px;
      padding: 5px;
    }
  }
}
