.menu {
  li > a {
    display: block;
    line-height: 24px;
    padding: 5px;
    border-radius: 2px;
    &:hover {
      background-color: color("blue", "lighten-5");
    }
    i {
      float: left;
      line-height: 24px;
    }
  }
  &.white-text {
    li > a {
      color: white;
      &:hover {
        background-color: transparent;
      }
    }  
  }
}
