nav {
  .nav-title {
    padding: 0 15px;
    font-size: 1.5rem;
  }
}

#top {
  position: fixed;
  left: 0;
  top: 64px;
  z-index: 997;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16), 0 6px 6px 0 rgba(0, 0, 0, 0.08);
  width: 100%;
  padding: 0 15% 1% 15%;
  background-color: #2196f3;
}

.buscador {
  max-width: 1280px;
  margin: auto;
  border-radius: 2px;
  .nav-wrapper {
    border-radius: 2px;
  }
  .input-field {
    .prefix {
      margin: 0 auto;
      top: 0;
      left: 1rem;
      font-size: 2rem;
    }
    .prefix ~ input {
      color: #000000;
      width: calc(100% - 4rem);
      padding-left: 4rem !important;
      border: none;
      margin: 0;
      height: 100%;
      font-size: 1.2rem;
    }
  }
}
