table {
  font-size: 15px;

  tbody {
    tr {
      border: none;
    }
    td {
      padding: 13px 5px;
    }
  }

  [type="checkbox"] + span:not(.lever) {
    height: 20px;
    margin-left: 10px;
  }

  .status {
    width: 20px;
    height: 20px;
    &.atencao,
    &.sucesso {
      text-align: center;
      i {
        font-size: 14px;
        line-height: 20px;
        color: white;
      }
    }
    &.atencao {
      background-color: color("orange", "base");
    }
    &.sucesso {
      background-color: color("light-green", "base");
    }
  }

  i {
    color: color("grey", "darken-2");
    cursor: pointer;
  }

  i.file {
    display: inline-block;
    width: 20px;
    line-height: 20px;
    font-size: 8px;
    letter-spacing: 0.05rem;
    vertical-align: top;
    text-align: center;
    border-radius: 2px;
    font-style: normal;
    text-transform: uppercase;
    margin: 2px 3px;
    color: #fff;
    background-color: color("grey", "darken-2");
  }
}

.subtitle {
  color: color("grey", "darken-1");
  font-size: 14px;
  margin: 30px 25px 10px;
  position: relative;
  .serie-numero {
    position: absolute;
    right: 105px;
  }
}

.legend {
  color: color("grey", "darken-1");
  font-size: 14px;
  position: absolute;
  left: 15px;
  margin-top: 2px;
  padding: 5px 10px;
  border-radius: 36px;
  background-color: color("grey", "lighten-3");
  cursor: pointer;
}

.icon {
  font-size: 17px;
  margin: 3px;
  vertical-align: bottom;
  line-height: 12px;
}
